<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css')}}">
  </head>
  <body>
    <div id="wrapper">
      <form action="/process" method="post">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <fieldset>
        Your Name: <input type="text" name="name">
        </fieldset>
        <fieldset>
        Dojo Location:  <select name="location">
          <option>Seattle</option>
          <option>Los Angeles</option>
          <option>San Jose</option>
          <option>Washington DC</option>
          <option>Dallas</option>
          <option>Chicago</option>
          <option>Tulsa</option></select>
        </fieldset>
        <fieldset>
        Favorite Language: <select name="fav_language">
          <option>Python</option>
          <option>Ruby</option>
          <option>C#</option>
          <option>Java</option>
          <option>Javascript</option>
          <option>Other</option></select>
        </fieldset>
        <fieldset>
        Comment (max of 120 characters):<p></p>
        <textarea name="textarea" value = "textbox" rows="4" cols="50" name="comment" ></textarea>
        <input type="submit" value="Button">
      </fieldset>
      </form>
    </div>
  </body>
</html>
